html {
  max-width: 800px;
  margin: 0px auto;
}

header {
  height: 50px; 
  width: 100%; 
  display: flex;
  flex-direction: row;
  padding: 10px 20px;
  align-items: baseline;
  justify-content: space-between;
  background-color: #001728;
  color: white;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

main {
  margin: 20px 20px;

}

#inputs {
  display: flex;
  column-gap: 5%;
  justify-content: center;
  align-items: center;
}

#formula-input input {
  margin-bottom: 10px;
}

#instructions {
  justify-content: center;
}

#buttons button {
  display: block;
  margin-bottom: 10px;
  width: 100%;
}

#connector-buttons-section {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  column-gap: 5px; 
}

#connector-buttons-section > div {
  box-shadow: 1px 1px 1px #001728;
  border-radius: 5px;
  padding: 5px;;
}

#connector-buttons-section button {
  width: 50px;
  height: 40px;
}

#instructions p {
  text-align: justify;
}

.connector-button {
  display: flex;
  column-gap: 10px;
  cursor: pointer;
}

.btn-secondary {
  background-color: #001728;
  border-color: #001728;
}

th {
  padding-bottom: 10px;
  text-align: center;
}

#tt {
  border-radius: 5px;
}

table {
  border-radius: 5px;
}

td, th {
  text-align: center !important;
  vertical-align: middle !important;

}

#tt-section {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

#tt {
  width: 90%;
}

#tt input {
  visibility: hidden;
}

#tt input:checked + label {
  background: #007bff;
  color: white;
}

label { 
  cursor: pointer; 
  border-radius: 5px;
  margin-bottom: 0px !important;
}

#tt label {
  padding: 5px;
}